/* * Reset all elements */
* {
  margin: 0;
  padding: 0;
}


/* * HTML elements */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  width: 800px;
  margin: auto;
}


/* * Local selectors */
#container {
  margin: 0px auto;
  margin-top: 40px;
  width: 100%;
  height: 450px;
  border: 10px #333 solid;
  background-color: black;
}

#container #videoElement {
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
}

#control {
  margin-top: 40px;
}

