{% extends "bootstrap/base.html" %} 
{% block title %} {{ TITLE }} {% endblock %}
{% block styles %} 
  {{ super() }}

  <!-- Custom styles -->
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    #container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    img#videoElement {
      width: 100%;
      height: auto;
    }

    form#control {
      margin-top: 10px;
    }

    button.btn-default {
      margin-top: 10px;
      padding: 8px 16px;
      cursor: pointer;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
    }

    button.btn-secondary {
      margin-top: 10px;
      padding: 8px 16px;
      cursor: pointer;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
    }

    button.btn-default:hover,
    button.btn-secondary:hover {
      background-color: #45a049;
    }

    a {
      text-decoration: none;
    }

    .navbar {
      overflow: hidden;
      background-color: #333;
    }

    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
  </style>
{% endblock %} 
{% block content %}

  

  <div id="container">
    <div class="navbar">
      <a href="#">Rekam CCTV</a>
      <a href="{{ url_for('putar') }}" >Putar Video</a>
    </div>
    <h1>{{ TITLE }}</h1>
    <img id="videoElement" src="{{ url_for('video_feed') }}" />
    <form id="control">
      Close Preview and Save:
      <a id="cam-preview"><button class="btn btn-default">On/Off</button></a>
      Flip horizontal:
      <a id="flip-horizontal"><button class="btn btn-default">On/Off</button></a>
      Run detection model and Record:
      <a id="use-model"><button class="btn btn-secondary">On/Off</button></a>
      <br />
      <br />
      Exposure:
      <a id="exposure-down"><button class="btn btn-default">-1</button></a>
      <a id="exposure-up"><button class="btn btn-default">+1</button></a>
      Contrast:
      <a id="contrast-down"><button class="btn btn-default">-4</button></a>
      <a id="contrast-up"><button class="btn btn-default">+4</button></a>
      <br />
      <br />
      <a id="reset-cam"><button class="btn btn-default">Reset camera</button></a>
    </form>
    <br>
    <br>
    
  </div>
{% endblock %} 
{% block scripts %}
  <!-- Imports -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Scripts -->
<script>
    // ! Functions that deal with button events
    $(function () {
        // * Preview switch
        $("a#cam-preview").bind("click", function () {
            $.getJSON("/request_preview_switch", function (data) {
                // do nothing
            });
            return false;
        });
    });


    $(function () {
      // * Flip horizontal switch
      $("a#flip-horizontal").bind("click", function () {
        $.getJSON("/request_flipH_switch", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * Model switch
      $("a#use-model").bind("click", function () {
        $.getJSON("/request_model_switch", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * exposure down
      $("a#exposure-down").bind("click", function () {
        $.getJSON("/request_exposure_down", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * exposure up
      $("a#exposure-up").bind("click", function () {
        $.getJSON("/request_exposure_up", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * contrast down
      $("a#contrast-down").bind("click", function () {
        $.getJSON("/request_contrast_down", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * contrast up
      $("a#contrast-up").bind("click", function () {
        $.getJSON("/request_contrast_up", function (data) {
          // do nothing
        });
        return false;
      });
    });


    $(function () {
      // * reset camera
      $("a#reset-cam").bind("click", function () {
        $.getJSON("/reset_camera", function (data) {
          // do nothing
        });
        return false;
      });
    });
    // * ... (Your existing JavaScript code)
</script>

{{ super() }} {% endblock %}

