<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        #container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        video {
            width: 100%;
            height: auto;
        }

        input[type="file"], select {
            margin-top: 10px;
        }

        button {
            margin-top: 10px;
            padding: 8px 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #45a049;
        }

        a {
            text-decoration: none;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .progress-bar-container {
            position: relative;
            width: 100%;
            height: 20px;
            background-color: #ccc;
            margin-top: 10px;
            border-radius: 4px;
            overflow: hidden;
        }
        
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #4CAF50;
        }

        .marker {
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="navbar">
            <a href="{{ url_for('home') }}">Rekam CCTV</a>
            <a href="#" >Putar Video</a>
        </div>

        <h1>Video Player</h1>

        <video id="videoPlayer" width="640" height="360" controls></video>
        <br>
        <input type="file" id="videoInput" accept="video/*">
        <button onclick="loadVideo()">Load Video</button>
        
        <input type="file" id="frameInput" />
        <select id="outputList" onchange="seekFromSelect()"></select>
        <br>
        <button onclick="playPause()">Play/Pause</button>
        <button onclick="takeScreenshot()">Take Screenshot</button>
        <br>
        
        <div class="progress-bar-container">
            <div id="progress-bar" class="progress-bar"></div>
            <div id="marker" class="marker"></div>
        </div>
    </div>

    <script>
        const videoInput = document.getElementById('videoInput');
        const videoPlayer = document.getElementById('videoPlayer');
        const frameInput = document.getElementById('frameInput');
        const outputList = document.getElementById('outputList');
        const progressBar = document.getElementById('progress-bar');
        const marker = document.getElementById('marker');
        const progressContainer = document.querySelector('.progress-bar-container');

        frameInput.addEventListener('change', handleFileSelect);

        function handleFileSelect(event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const content = e.target.result;
                    const lines = content.split('\n');

                    // Clear previous options
                    outputList.innerHTML = '';

                    lines.forEach(function (line) {
                        //nilai 5 meruppakan jumlah fps
                        const frameNumber = parseInt(line.trim(), 10) / 5;

                        // Check if the parsed frameNumber is a valid number
                        if (!isNaN(frameNumber)) {
                            const optionItem = document.createElement('option');
                            optionItem.value = frameNumber;
                            optionItem.textContent = convertSecondsToTime(frameNumber);
                            outputList.appendChild(optionItem);
                        }
                    });
                };

                reader.readAsText(file);
            }
        }

        function convertSecondsToTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = seconds % 60;
            return padZero(minutes) + ":" + padZero(remainingSeconds.toFixed(2));
        }

        function padZero(number) {
            return (number < 10 ? "0" : "") + number;
        }

        function loadVideo() {
            const fileInput = videoInput.files[0];
            const videoURL = URL.createObjectURL(fileInput);
            videoPlayer.src = videoURL;

            // Request frame data from the server after loading the video
            getFrameData(fileInput.name);
        }

        function seek() {
            const frameNumber = parseInt(frameInput.value, 10);
            videoPlayer.currentTime = frameNumber / videoPlayer.playbackRate;
        }

        function seekFromSelect() {
            const frameNumber = parseInt(outputList.value, 10);
            videoPlayer.currentTime = frameNumber / videoPlayer.playbackRate;
            updateMarkerPosition(frameNumber);
        }

        function playPause() {
            if (videoPlayer.paused) {
                videoPlayer.play();
            } else {
                videoPlayer.pause();
            }
        }

        function takeScreenshot() {
            const canvas = document.createElement('canvas');
            canvas.width = videoPlayer.videoWidth;
            canvas.height = videoPlayer.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(videoPlayer, 0, 0, canvas.width, canvas.height);
            const screenshot = canvas.toDataURL('image/png');

            const downloadLink = document.createElement('a');
            downloadLink.href = screenshot;
            downloadLink.download = 'screenshot.png';

            document.body.appendChild(downloadLink);
            downloadLink.click();

            document.body.removeChild(downloadLink);
        }

        function getFrameData(videoFile) {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/get_frame_data', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        const frameData = response.frame_data;
                        console.log('Frame Data:', frameData);
                    } else {
                        console.error('Error fetching frame data. Status:', xhr.status);
                    }
                }
            };

            xhr.send('video_file=' + videoFile);
        }

        videoPlayer.addEventListener('timeupdate', function() {
            const percentage = (20 / videoPlayer.duration) * 100;
            progressBar.style.width = percentage + '%';
        });

        progressContainer.addEventListener('click', function(e) {
            const clickedTime = (e.offsetX / progressContainer.offsetWidth) * videoPlayer.duration;
            videoPlayer.currentTime = clickedTime;
            updateMarkerPosition(clickedTime);
        });

        function updateMarkerPosition(timeInSeconds) {
            const percentage = (timeInSeconds / videoPlayer.duration) * 100;
            marker.style.left = percentage + '%';
        }
    </script>
</body>
</html>
